#header{
	position:relative;
	height: 30px;
	width: 100%;
	font-size:.75em;
	margin-top:20px;	
	
}

#nav{
	position:absolute;
	list-style-type: none;
	text-align:right;
	text-transform:lowercase;
	top:10px;
	right: 0px;
	width:165px;
	margin:0; 
	padding:0; 
}

#nav li{
	
	width:auto;
	padding-left:20px;
	padding-right:0px;
	float:right;
	display:block;
	margin:0px;
	
}

#projList li {
	list-style-type: none;
}

#tabs li {
	list-style-type: none;
}

.projectItem{

}

.projectThumbnailImg{
	height: 42;
	width: 42;
}