*{
	font-family:  Arial, Helvetica, sans-serif;
}


a{
	color:#000;
	text-decoration:none;
	font-size:14px;
}

a:hover{
	color:#0020AF;
}

.main{
	text-align: left;
	margin:  0 auto;
	width: 800px;
	align: center;
}

#headerBar{
	position:relative;
	width:auto;
	height:2px;
	background-color:#212638;	
}

#header{
	position:relative;
	height: 30px;
	width: 100%;
	font-size:.75em;
	margin-top:20px;	
	
}

#name{
	position:relative;
	font-size: 25px;

}

#nav{
	position:absolute;
	list-style-type: none;
	text-align:right;
	text-transform:lowercase;
	top:10px;
	right: 0px;
	width:165px;
	margin:0; 
	padding:0; 
}

#nav li{
	
	width:auto;
	padding-left:20px;
	padding-right:0px;
	float:right;
	display:inline;
	margin:0px;
	
}

#content{
	margin: 20px 20px 20px 20px;
}

#bio{
	position:relative;
	float:right;
	
	left:0px;
	width:50%;
	height:400px;
	padding:0px;
	margin: 50px 0 5px 0;
	text-align:justify;
	font-size:14px;
}

#selfPic{
	position: absolute; 
	float:left; 
	width:333px; 
	margin: 50px 25px 5px 5px;
}

#leftImg{
	max-width:100%;

}
/*project.html*/
#projList li {
	list-style-type: none;
}

#tabs li {
	list-style-type: none;
}

.projectItem{
	position: relative;
	height: 60;
	line-height: 60;
	width: 100%;
	float: left;

}
.projectItem:hover{
	background-origin: #AAAAAA;
}
.projectThumbnailImg{
	max-height: 100%;
}